*{
    padding: 0px;
    margin:0px;
    color: #2b273c;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    /* display: flex; */
    /* flex-direction: column; */
}
.nav-bar{
    /* width: 84.313rem; */
    width: 100%;
    height:4.5rem;
    background:white;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 0px solid grey;
    box-shadow: 0px 0px .3rem rgba(0 0,0,0.3) ;
    position: fixed;
    top: 0px;
    z-index: 1;

}
.div-nav-logo{
    /* margin:0px;
    padding: 0px; */
    width: 243px;
    height: 72px;
    /* background-color: pink; */
    background-size: cover;
    display: flex;
    align-items: center;
}
.nav-logo{
    width:225px;
    height:37px;
    /* background-color:rgb(245, 108, 131); */
    background-image: url(/images//logo.svg);
    background-size: cover;
    margin-bottom: 10px;
    /* margin-left: 2rem; */
    
}
.nav-sp1{
    
    width: 579px;
    /* background: blueviolet; */
    display: flex;
    align-items: center;
    /* flex-grow:0; */


}
.nv-sp-ul1{
    width: 579px;
    /* height:72px; */
    height: auto;
    margin-right: 800px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: white; */
    /* border-bottom: 0px solid grey; */
    font-weight: 600;
    /* padding-left:15px ; */
    
}

.list{
    width: 110px;
    height: 72px;
    /* height: auto; */
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    font-size: 14px;
    /* padding-left: 15px; */
}

#i1{
    width: 8.3;
    transform: scale(0.6);
    padding: 27px 5px 27px 5px;
    

}

.sp2{
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: green; */
    justify-items: flex-start;
    list-style: none;
    /* padding-left:40px ; */
    /* padding-right:30px ; */
    /* margin-left: 100px; */
}
.l2{
    padding-left: 10px;
    padding-right: 10px;
}
.lx{
    padding-left: 10px;
    padding-right: 10px;
}

.l2_bar{
    display: none;
}
button{
    /* font-weight: 500; */
    font-size: 16px;
    padding: 10px;
    
    border-radius: 5px ;
    /* box-shadow: 0px 0px 0.5px; */
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    /* box-sizing: border-box; */
}
.vml{
    color:rgb(255, 255, 255);
}
.gs{
    display: none;
}
.verify_btn{
    background: #d32323 ;
    color:rgb(255, 255, 255);
    padding: 0.8125rem 1.125rem 0.8125rem 1.125rem ;
    /* box-sizing: border-box; */
    border:0px solid rgb(185, 185, 185);

}
.verify_btn:hover{
    background-color:   #e00707;
    /* box-shadow: 2px solid rgba(183, 183, 183 0.5); */
    color:white;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.loginbtn{
    background:white;
    border:1.5px solid rgba(202, 202, 202, 0.746);
    padding:12px 15px 12px 15px;
    margin-left: 10px;

}
.loginbtn:hover{
    background-color: #d3d2d8;
    /* box-shadow: 10px 10px 10px solid rgba(203, 203, 203, 0.5);
     */
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.div-img{
    height:855px ;
    width: 100%;
    /* background-color: pink; */
    margin-top: 72px;
    display: flex;
    /* border-radius: 4px; */
    align-items: center;
    justify-content: center;
}
.div-image{
    width: 1285px;
    height: 695px;
    border-radius: 50px;
    /* background-color: green; */
    background-image: url(/images/laiki.webp);
    background-size: cover;
    padding-top: 80px;
    padding-left: 50px;
    /* padding-bottom: 50px; */
}

.ad{
    width: 545px;
    height: 539px;
    background: white;
    padding: 50px;
    /* margin-left: 50px; */
    border-radius: 50px;
    /* display: flex; */
    /* align-items: flex-start; */
}

.box-h{
    width: 467px;
    height: 170px;
    font-size: 65px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    color: rgb(0, 0, 0);
    /* background-color: aqua; */
    /* padding-bottom: 100px; */
    /* margin-left: 50px; */
    /* margin-right: 30px; */
    /* margin-top: 30px; */
    
    
}

.list_bullet{
    display: flex;
}

.bullet{
    height: 2em;
    width:2em;
    /* margin-top: .5em; */
}

.text{
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: .6em;
    font-weight: 600;
    color:#2b273c;
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
}

.list_txt{
    margin-top: .5em;
    font-size: 1.1em;
    font-weight: 900;
    color:#2b273c;
    font-family: "Poppins", sans-serif;

}

.verify_btn2{
    background: #d32323 ;
    margin-top: 2EM;
    color:rgb(255, 255, 255);
    padding: 12px 25px 12px 25px ;
    /* box-sizing: border-box; */
    border:0px solid rgb(185, 185, 185);

}
.verify_btn2:hover{
    background-color:   #e00707;
    /* box-shadow: 2px solid rgba(183, 183, 183 0.5); */
    color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.verify_btn2_div{
    width: 15em;
}

.div_content1{
    /* width: 100%; */
    height: 66rem;
    padding: 2rem 1.8rem 2rem 1.8rem;
    /* display: flex; */

    /* background: rgb(205, 183, 183); */
}
.div_content1_h{
    height: 90px;
    margin: 0px 255px 32px 255px;
    text-align: center;
}
.div_content1_card{
    display: flex;
    justify-content: space-around;  
    /* flex-wrap: wrap; */
}

.div_content1_card1{
    width: 575px;
    height: 872px;
    /* background: red; */
    border-radius: 50px;
    border: 1em solid #F8F8F9;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center; 
    

}

.div_content1_img1{
    width:18.74em;
    height:18.3em;
    /* font:2rem; */
    background-size: cover;
    background-image: url(/images/card_img1.webp);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.div_content1_img2{
    width:18.74em;
    height:17.28em;
    background-size: cover;
    background-image: url(/images/card_img2.webp);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.div_content1_t1{
    text-align: center;
    width: 22.7em;
    height: 1.73em;
    margin-bottom: 0.77em;
    font-size: 1.3em;
    color: #808183;
}

.div_content1_t2{
    text-align: center;
    width: 18.5em;
    height: 2.3rem;
    margin-bottom: 0.94em;
    font-size: 1.5rem;


}

.div_content1_p1{
    text-align: center;
    width: 29.5rem;
    height: 4.5rem;
    margin-bottom: 1.4em;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;

}
.card_list{
    /* padding-left: 3em; */
    font-size: 1.15em;
    font-weight: 550;
    list-style: none;
    margin-bottom: 1.5rem;
    line-height: 1.5em;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    
}
#tick{
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 0.6rem;
    padding-right:1.1em;
    /* padding-bottom:1.1em; */
    font-size: 1.3em;
    z-index: -1;
    /* font-weight: 550; */
}
.tick_li{
    margin-left: 4rem;
}
.learn_more{
    display: flex;
    justify-content: center;
}
.card2{
    width: 100vw;
    height: 40.3rem;
    padding: 2rem 2rem 0px 2rem;
    /* display: flex; */
}
.card2_t1{
    height: 1.9rem;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #808183;
    /* display: block; */
}
.card2_h1{
    text-align: center;
    font-weight: 700;
    /* display: block; */
    padding: 0rem 22rem 2rem 22rem;
}
.card2_img_contain{
    height: 26.65rem;
    /* background: pink; */
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 2rem 0rem 2rem ;
}
.card2_img1{
    width: 23rem;
    height:14.2rem;
    background-image: url(/images/shop.webp);
    background-size: cover;
    border-radius: 1.5rem;
    /* margin-bottom: 2.3rem; */
}

.card2_img2{
    width: 23rem;
    height:14.2rem;
    background-image: url(/images/doctor.jpeg);
    background-size: cover;
    border-radius: 1.5rem;
    /* margin-bottom: 2.3rem; */

}
.card2_img3{
    width: 23rem;
    height:14.2rem;
    background-image: url(/images/dog_profile.png);
    background-size: cover;
    border-radius: 1.5rem;
    /* margin-bottom: 2.3rem; */
}

.card2_h2{
    font-size: 1.4rem;
    width: 25rem;
    height:5.6rem;
    line-height: 2rem;
    margin-top: 2rem ;
    margin-bottom: 1.5rem ;
}
.card2_a{
    text-decoration: none;
    color: #00838f;
    font-weight: 700;
    line-height: 2em;
    
}

.card2_container{
    width: 23rem;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.vid_card{
    padding: 5rem 2rem 5rem 2rem;
    height:30rem;
    display: flex;
    justify-content: space-around;
}
.vid_container1{
    /* border-radius: 20px; */
}


.vid{
    width: 36rem;
    height: 20.25rem;
    border-radius: 2rem;

}
.vid_container2{
    width: 31rem;
    height: 16.875rem;
    padding-right: 5rem;
    padding-top: 2rem;
}
.vid_container2_h1{
    font-size: 1.25rem;
    font-weight: 700;
    /* text-align: center; */
    color: #808183;
    margin-bottom:1rem;
}
.vid_container2_h2{
    font-size: 1.75rem;
    margin-bottom:1rem;

}
.vid_container2_h3{
    font-size: 1.12rem;
    /* margin-bottom: 1rem; */
    font-weight: 200;
    font-style: italic ;
    line-height: 1.8em;
    margin-bottom:0.5rem;
    
}
.vid_container2_h4{
    font-size: 1.12rem;
    font-weight:700;
    margin-bottom:1rem;

}
.vid_container2_h5{
    font-weight: 200;
    font-size: 1.12rem;
    margin-bottom:1rem;
}

.div1_mitra{
    height:26.025rem;
    /* background: pink; */
    padding-inline: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;

}
    
.div2_mitra{
    width: 75rem;
    height: 24.025rem;
    border-radius: 20px;
    padding: 3rem;
    /* background: #2b273c; */
    background:#16737d;   
    display: flex;

}
.div_mitra_content{
    width: 69rem;
    height: 18.025rem;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between;   */
}

.div_mitra_c1{
    width: 34rem;
    height: 18.025rem;
    font-weight: 900;
    background: white;
    padding-inline: 2rem;
    padding-block: 2.5rem;
    
    
}

.div_mitra_h1{
    line-height: 1.4em;
    font-size: 2rem;
    margin-bottom: 1em;
}

.div_mitra_c2{
    width: 29.45rem;
    height: 18.025rem;
    background-image: url(/images/mitra.png);
    background-size: cover;
    margin-inline: 2.274rem;

}

.div_mitra_verify{
    background: #d32323 ;
    /* margin-top: 2EM; */
    color:rgb(255, 255, 255);
    padding: 12px 25px 12px 25px ;
    /* box-sizing: border-box; */
    border:0px solid rgb(185, 185, 185);
}
.al_bal{
    width: 75rem;
    height: 4.5rem;
    margin-inline: 4.6rem;
    padding-inline: 2rem;
    margin-bottom: 0.35rem;
}

.span_al_bal{
    font-weight: 400;
    color: gray;
    line-height: 1.3rem;
    font-size: 0.75rem;
}

footer{
    background: #fcfcfc;
    border-top: 1px solid #eaeaea;
}
.ftr{
    width: 84.3125rem;
    height:50rem;
    padding-top: 5.625rem;
    padding-bottom: 2.875rem;
}

.ftr_div1{
    width: 75.5rem;
    height: 41.14rem;
    margin-inline: 4.41rem;
    padding-inline: 2rem;
}

.ftr_div_l1{
    height: 2.75rem;
    margin-bottom: 2REM;
}

.ftr_div_{
    height: 15.8rem;
    border-bottom:1px solid #eaeaea;
    margin-bottom: 3rem;
    padding-bottom: 3rem;

}

.ftr_div_l1_span{
    /* width: 6.2rem;
    height: 1.5rem; */

    font-weight: 500;
    margin-right: 1.5rem;
    color:black;
}
.ftr_btn{
    font-size: 1rem;
    color: #757280;
    border:2px solid #757280;
    background: #fcfcfc;
    border-radius: 25px 25px 25px 25px;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    margin-right: 2rem;
}

.ftr_btn:hover{
    color: black;
    border:2px solid black;

}


.ftr_div_l2{
    height: 8rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

.ftr_ul{
    height: 8rem;
    display: grid;
    
    grid-template-columns: 3.3rem 3.3rem 3.3rem 3.3rem;
    grid-column-gap: 17REM;
    grid-ROW-gap: 1.7REM;
    flex-wrap: wrap;
}

.ftr_lst{
    width: 14rem;
    height: 2.5rem;
    font-weight: 400;
    font-size: 1rem;
}
.ftr_div11{
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom:1px solid #eaeaea;
}

.ftr_div_l3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    
}

.last_div{
    height: 14.6rem;
    
}
.last_div_lst{
    height: 14.6rem;
    width: 15.125em;

}

.lst_hd{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.last_list{
    margin-block:1rem;
    line-height: 1.3rem;
    font-size: .90rem;
}

.last_list_img{
    width: 10.25rem;
    height: 11.375rem;
    background-image: url(/images/card.png);
    background-size: cover;
    list-style: none;
}

.ftr_logo1{
    width: 4rem;
    height:1.5rem;
    background-image: url(images/logo.svg);
    background-size:cover;
    padding-bottom: 1rem;
    
}

.khatam{
    width: 73REM;
    display: flex;
    /* border-bottom:1px solid #eaeaea; */
}

.ftr_logo2{
    width:1rem;
    height: auto;
    padding-bottom: 0rem;

}

.ftr_p{
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    margin-inline: 0.375rem;
}
.ftr_a{
    font-size: 0.75rem;
    text-decoration: none;
    margin-inline: 0.375rem;
}

.border{

    /* .text{
        font-size: 1em;
    } */
    border:1px solid transparent;
    /* box-shadow: 2px solid rgba(188, 187, 187 ,0.5); */
    /* box-sizing: border-box; */
}

.border:hover{
    border-bottom: 3px solid rgba(255, 0, 0, 0.849);
    /* box-shadow:10px solid rgba(188, 187, 187,0.5); */
}
.l2_bar:hover{
    font-size: 1.3rem;
}


@media screen and (max-width: 75rem)
{
    .nav-bar{
        width: 100%;
        position: fixed;
        top: 0px;

    }
    .div-nav-logo{
        width: 16rem;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-logo{
        margin-left: 1rem;
    }
    
    .l2_bar{
        padding-right: 2rem;
        margin-right: 2rem;
        /* width: 2rem; */
        font-size: 1.2rem;
        display:contents;
    }
    /* .l2_bar:hover{
        transform: scale(2);
    }
     */
    .div-img{
        padding-inline: 1.2rem;
    }
    .nav-sp1{
        display: none;
    }
    .al_bal{
        margin-inline: 0rem;
    }
    .ftr{
        width: 73rem;
        padding-left: 2rem;
        
    }
    .ftr_div1{
        margin-inline: 0rem;
        padding-inline: 0REM;
    }

    .ftr_ul{
        grid-column-gap: 15REM;

    }

    .ftr_div_{
        width: 73rem;
    }
    
    .ftr_div11{
        width: 73rem;
        
    }
    .ftr_div1{
        width: 73rem;

    }
    footer{
        width: 73rem;
    }

    .card2_img1{
        transform: scale(0.8);
    }
    .card2_img2{
        transform: scale(0.8);
    }
    .card2_img3
    {
        transform: scale(0.8);
    }

    .card2_h2{
        transform: scale(0.9);
    }

}


@media screen and (max-width: 924px) {

    .loginbtn{
        display: none;
    }

    .div-image{
        width: 94vw;
    }
    .lx{
        display: none;
    }

    /* .sp2{
        display: none;
    } */
/* 
    .ad{
        position: relative;
    } */
    .nav-bar{
        width: 100vw;

        position: fixed;
        top: 0px;
    }
    .div_content1{
        /* flex-wrap: wrap; */
        flex-direction:  column;
        height: 2397px;
    }
    .vml{
        display: none;
    }
    
    .gs{
        display: contents;
        color:rgb(255, 255, 255);
        width: 2rem;
    }
    .verify_btn{
        background: #d32323 ;
        width: 50vw;
        /* color:rgb(255, 255, 255); */
        /* padding-inline: 1rem ; */
        /* margin-left: 24px; */
        /* box-sizing: border-box; */
        border:0px solid rgb(185, 185, 185);
    
    }

    .div_content{
        width: 100vw;
    }


    .div_content1_h{
        height: 90px;
        margin: 0px 89px 32px 89px;
        text-align: center;

    }

    .div_content1_card1{
        width: 25.88rem;
    }
    .div_content1_img1{
        
        width: 21.88rem;
        height: 21.88rem;
    }    
    .div_content1_img2{
        margin: 3px;
        width: 21.88rem;
        height: 21.88rem;
    }    


    .div_content1_t1{
        width: 21.9rem;
    }
    .div_content1_t2{
        width: 21.9rem;
    }
    .div_content1_p1{
        width: 21.9rem;
        margin-bottom: 2.5rem;
    }

    .card_list{
        font-size: 1rem;
    }

    #tick{
        font-size: 1rem;
    }
    .tick_li{
        margin-left: 3rem;
        font-size: 1rem;
    }

    .card2_h1{
        padding: 0px;
        margin-inline: 8.125rem;
    }

    .card2_container{
        width:15.91rem;
        /* padding: 0px; */
    }

    .card2_img_contain{
        padding: 0px;
    }

    .card2_img1{
        width: 15.91rem;

    }
    .card2_img2{
        width: 15.91rem;

    }
    .card2_img3{
        width: 15.91rem;
        
    }
    
    .card2_h2{
        width: 15.91rem;
        margin-block: 2.2rem;

    }

    .card2_a{
        margin: 1rem;
    }

    .vid_card{
        height: 100.1rem;
        flex-direction: column;
    }

    .vid_container1{
            /* margin-top: 4rem; */
            width: 96vw;
            height:30.24rem;
    }
    .vid{
        width: 95vw;
        height:30.24rem;
    }

    .vid_container2{
        width: 96vw;
    }


    .div2_mitra{
        width: 94vw;
        height: 33.52rem;
        /* flex-direction:column; */
    }
    .div1_mitra{
        width: 53.75rem;
        height: 33.52rem;
        /* flex-direction:column; */
    }
    .div_mitra_content{
        height: 33.52rem;
        flex-direction: column;
    }
    .div_mitra_c2{
        height: 18.31rem;
    }
    .div_mitra_c1{
        width: 49.75rem;
        height: 15.85rem;
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .al_bal{
        width: 100vw;
        margin-top: 2rem;
    }

    .span_al_bal{
        font-size: 0.7rem;
    }
    footer{
        width: 100vw;
    }
    .ftr{
        width: 100vw;
    }

    .ftr_div1{
        width: 96vw;
    }
    .ftr_ul{
        width: 55.75rem;
        grid-column-gap:11rem;

    }
    .ftr_div_l1{
        width: 96vw;
    }
    .ftr_div_l2{
        width: 55.75rem;
    }
    .ftr_div11{
        width: 96vw;
    }

    .ftr_lst{
        width: 151px;
        height: 600px;
        font-size: 0.8px;
    }

    .ftr_div_{
        width: 96vw;
    }
    .ftr_div_l3{
        width: 95vw;
        column-gap: 40px;
    }
    .last_div{
        width: 20vw;
        font-size: 0.8rem;
        /* display: flex; */
        justify-content: space-evenly;
        /* flex-wrap: wrap; */
    }
    .khatam{
        width: 96vw;
    }

    .last_ul{
        width: 10vw;
    }
    .last_div_lst{
        width: 200px;
    }



}

.vid_card{
    height: 730px;
}

@media screen and (max-width: 768px){

    .div-image{
        width: 79.5vw;
        display: flex;
        justify-content:center ;
        padding-left: 0rem;
    }

    .div_content1_card1{
        width: 90vw;
    }
    .div_content1_h{
        /* height: 4rem; */
        margin-bottom: 4rem;

    }

    .vid_card{
        width:768px;
    }

    .vid{
        width: 704px;
    }
   
    .div_content1_card{
        /* height:1700px; */
        gap: 2rem;
        flex-direction: column;

    }

    .div_content1{

        height:2008px;
    }

    .card2{
        /* height:auto; */
        /* margin:10rem;
        position: static; */
        flex-direction: column;
        height: 2300px;
        /* align-: flex-start; */
        padding-inline: 0px;
        /* margin-inline: 30px; */
        
    }

    .card2_h1{
        margin-bottom: 3rem;
    }

    .card2_h2{
        margin-block: none;
        width:400px;
    }
    
    .card2_img_contain{
        flex-direction: column;
        height: 1953px;
    }
    .card2_container{
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card2_img1{
        width: 704px;
        height: 466px;
    }
    .card2_img2{
        width: 704px;
        height: 466px;
    }
    .card2_img3{
        width: 704px;
        height: 466px;
    }

    
    .div1_mitra{
        width: 768px;
        justify-content: flex-start;
    }
    
    .div_mitra_c1{
        width: 640px;
    }

    .div_mitra_h1{
        width: 576px;
    }

    .al_bal{
        margin-bottom: 35px;
    }

    .ftr_div_l1{
        height: 100px;
        /* line-height: 20px; */
    }
    .ftr_btn{
        margin-right: 10px;

    }

    .ftr_ul{
        width: 704px;
        height: 141px;
        column-gap: 140px;
    }

    .ftr_div_l2{
        width: 728px;
    }
    .ftr_lst{
        font-size: 0.9rem;
        height:0px ;
    }
    .last_list{

        width: 151px;
    }

    .last_ul{
        width: 151px;
        height: 341px;
    }
}